.pageHeader {
  font-size: 1.8rem;
  font-weight: 800;

  line-height: 0.9;

  letter-spacing: -0.05rem;
  margin: 0;
  padding: 0;
}

/* BURGER MENU RELATED CLASSES */
.burgerButtons {
  display: flex;
  height: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3px;
}

.burgerButtons:active {
  animation: squish 0.5s forwards;
}

.bar {
  display: block;

  height: 0.25rem;
  width: 2rem;

  border-radius: 3px;

  background-color: black;
}

.burgerButtons:active .bar {
  background-color: #b7ccb9;
}

.linkStack {
  display: grid;

  justify-items: center;

  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-bottom: 0;

  grid-template-columns: 1fr;
  row-gap: 0.1rem;
}

/** DESKTOP STYLES */
@media only screen and (min-width: 720px) {
  .pageHeader {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 0;
  }

  .burgerButtons {
    margin-bottom: 2px;
  }
}

.content {
  height: 80%;
  overflow: scroll;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.backHome {
  margin: 3rem 0 0;
}

@keyframes squish {
  from,
  to {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.8, 0.6);
  }
}
