.container {
  max-width: 36rem;
  padding: 1rem 1rem;
  margin: 3rem auto 6rem;
  background-color: whitesmoke;
  border: solid black 1px;

  /* height: 80vh;*/
}

.content {
  height: 80%;
  overflow: scroll;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.headshot {
  margin-top: 8px;
  border-radius: 99%;
  border: 2px #b7ccb9 solid;
}

.backHome {
  margin: 3rem 0 0;
}

.title {
  margin-top: 0;
  font-size: 2em;
  color: black;
}
