/**
FONT / TEXT CLASSES
*/

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0 0 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0 0 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.secondaryLink {
  font-size: 0.8em;
}

.colorInherit {
  color: inherit;
}

.hidden {
  color: whitesmoke;
  font-size: 0.8em;
}

.hidden:hover {
  align-self: center;
  color: black;
}

.expandLink {
  font-size: 0.7em;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}

.blurb {
  background-color: #e4ebe4;
  border: black 1px solid;
}

.bigButton {
  width: 10em;
  height: 3em;

  background-color: #b7ccb9;

  border: none;
  border-radius: 3em;
}
.medButton {
  width: 8em;
  height: 2em;

  background-color: #b7ccb9;
  border-radius: 3em;
  border: none;
  transition: color 0.1s ease;

  /* selecting the text on the button takes away from the effect, especially on mobile. */
  user-select: none; /* chrome and Opera */
  -moz-user-select: none; /* Firefox */
  -webkit-text-select: none; /* IOS Safari */
  -webkit-user-select: none; /* Safari */
}
.bigButton:hover,
.medButton:hover {
  cursor: pointer;
  animation: gelatine 1s 1;
  background-color: #c3d6c7;
}
.bigButton:active,
.medButton:active {
  background-color: #889589;
  animation: squish 0.5s forwards;
}

@keyframes squish {
  from,
  to {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.99, 1.01);
  }
  50% {
    transform: scale(1.01, 0.99);
  }
  75% {
    transform: scale(0.995, 1.005);
  }
}

.search {
  background-color: inherit;
  border: none;
  border-bottom: solid black 1px;
  text-align: center;
  margin: 1em auto;
  width: 20em;
}
.search:focus {
  outline-style: none;
}

#vCheck {
  background-color: #b7ccb9;
}

/**
PADDING AND MARGIN
*/

.marginLS {
  margin-left: 1em;
}

/**
SPACING AND ORGANIZATION
*/
.spread {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0f881d;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
}

/** 
toc = table of contents
*/
.tocBig {
  padding: 0em 1em 0em 1em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  border: 1px solid #eaeaea;
  border-radius: 10px;

  width: 85%;

  transition: color 0.15s ease, border-color 0.15s ease;
}

.tocSmall {
  font-size: 0.8em;

  padding: 0em 1em 0em 1em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  border: 1px solid #eaeaea;
  border-radius: 10px;

  width: 65%;

  transition: color 0.15s ease, border-color 0.15s ease;
}

.tocHead {
  padding-top: 1em;
  padding-bottom: 0.5em;

  display: block;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0em;
  text-align: center;
}

.tocSmall:hover,
.tocSmall:focus,
.tocSmall:active,
.tocBig:hover,
.tocBig:focus,
.tocBig:active {
  border-color: #0f881d;
}

/**
GENERAL EXPANDABLE BOX
*/

.expandBox {
  padding: 0em 1em 1em 1em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  border: 1px solid #eaeaea;
  border-radius: 10px;

  width: 85%;

  transition: border-color 3s ease-out;
}

.expandBoxTitle {
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.expandBoxSkills {
  text-align: right;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  align-self: center;
}

.expandBoxHeadCenter {
  padding-top: 0;

  display: block;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0em;
  text-align: center;
}

.expandBoxHeadSpread {
  padding-top: 0;
  font-size: 1.2em;

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 0em;
}

.expandBox:hover,
.expandBox:focus,
.expandBox:active {
  transition: border-color 0.45s ease;
  border-color: #0f881d;
}

/** TOOLTIPS */
/** Underlined Text (taken from w3 tooltip) */
.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: dotted underline;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #b7ccb9;

  padding: 0.2em 0.2em;

  font-size: 0.8em;
  color: black;
  text-align: center;

  border: black solid 1px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  bottom: 100%;
  right: 0%;
  left: 0%;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
